<div class="form-wrapper">
    <form method="post" action="/api/v1/auth/login" class="auth-form">
        <h3>Log In</h3>
    
        <label for="email"><b>Email Address</b></label>
        <input type="text" name="email" required>
    
        <label for="password"><b>Password</b></label>
        <input type="password" name="password" required>
    
        <div class="form-btn-box">
            <a href="/"><button type="button">Cancel</button></a>
            <button type="submit">Log In</button>
        </div>
    </form>
</div>
