<h2 class="verified-heading">Reset Password</h2>

<form action="/api/v1/auth/reset-password/update" method="POST" id="resetPasswordForm" class="auth-form">
    <input type="hidden" name="token" value="{{ .Token }}" required>
    
    <label for="newPassword"><b>New Password</b></label>
    <input type="password" name="newPassword" required>

    <label for="repeatNewPassword"><b>Repeat New Password</b></label>
    <input type="password" name="repeatNewPassword" required>

    <button type="submit">Reset Password</button>
</form>

<p id="successPara" style="display: none;">&#x2705; Successfully saved new password</p>

<div id="failDiv" style="display: none;">
    <p>&#x26A0; Failed to save new password</p>
    <p>Failure message: <span id="failMessage"></span></p>
</div>

<script>
    const resetPasswordForm = document.getElementById('resetPasswordForm');
    resetPasswordForm.addEventListener('submit', (e) => {
        e.preventDefault();
        e.stopPropagation();
        const formData = new FormData(resetPasswordForm);
        fetch('/api/v1/auth/reset-password/update', {
            method: 'POST',
            body: formData,
        })
            .then((response) => response.json())
            .then((resData) => {
                if (resData.status === "success") {
                    resetPasswordForm.style.display = "none"
                    document.getElementById("failDiv").style.display = "none"
                    document.getElementById("successPara").style.display = "block"
                }
                else {
                    resetPasswordForm.style.display = "flex"
                    document.getElementById("failDiv").style.display = "block"
                    document.getElementById("successPara").style.display = "none"
                    document.getElementById("failMessage").textContent = resData.message + " " + resData.data.errorMessage
                }
            })
            .catch((error) => console.error(error));
    });
</script>