

.form-wrapper {
    display: flex;
    justify-content: center;
}

.auth-form {
    width: clamp(200px, 300px, 400px);
    display: flex;
    flex-direction: column;
}

.auth-form h3 {
    padding-top: 7px;
    padding-bottom: 20px;
    text-align: center;
}

.form-btn-box {
    display: flex;
    justify-content: space-evenly;
    padding-top: 23px;
}