button {
    text-transform: uppercase;
}

dialog,
[popover] {
    position: fixed;
    inset: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
    border: 1px solid var(--nc-bg-3);
    padding: 0.25em;
    overflow: auto;
    background-color: var(--nc-bg-2);
    color: inherit;
}

.panel {
    width: fit-content;
    height: fit-content;
    border: 1px solid var(--nc-bg-3);
    padding: 0.25em;
    overflow: auto;
    background-color: var(--nc-bg-2);
    color: inherit;
}

:is(dialog, [popover]) input {
    background-color: var(--nc-bg-1);
}

::backdrop {
    backdrop-filter: blur(3px);
}

.form-wrapper {
    display: flex;
    justify-content: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    padding: 0rem 1rem 0rem 1rem;
    width: clamp(200px, 300px, 400px);
}

.auth-form h3 {
    padding: 7px 25px 20px 0px;
}

.form-input {
    margin-bottom: 0;
}

.form-input-warning {
    font-size: 10px;
    min-height: 21px;
}

.form-btn-box {
    display: flex;
    justify-content: space-evenly;
}

.form-btn-box button {
    min-width: 90px;
}

.error-text {
    color: rgb(236, 75, 75);
}

.success-text {
    color: #00ff00;
}

.form-status-text {
    align-self: center;
    margin: 20px 0px 0px 0px;
}

.more-options-txt {
    background: none;
    text-transform: none;
    text-decoration: underline;
    margin-top: 1.2rem;
    color: var(--nc-lk-1);
}

.more-options-txt:hover {
    background: transparent;
}

.user-img {
    margin: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

input[type="file"]::file-selector-button{
    background: transparent;
    color: var(--nc-lk-1);
    border: none;
    cursor: pointer;
}